asgiref==3.7.2
attrs==23.2.0
cattrs==23.2.3
click==8.1.7
crispy-bootstrap5==0.7
Django==3.2.4
django-crispy-forms==2.0
django-schema-graph==3.1.0
django_debug_toolbar==3.8.1
gunicorn==21.2.0
h11==0.14.0
packaging==23.2
pillow==10.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pytz==2024.1
sqlparse==0.4.4
uvicorn==0.27.1
whitenoise==6.6.0