{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixagram</title>
    <!-- <link rel="stylesheet" href="{% static 'assets/style.css' %}"> -->
</head>

<body>
    <h1>Pixagram!</h1>
    {% for post in post_items %}
    <hr>
    <img src="{{post.picture.url}}" alt="" width="300"> <br>
    Username: <b>{{ post.user.username }}</b> <br>
    Caption: {{ post.caption }} <br>
    Likes: {{ post.likes}} Likes<br>
    Posted: {{ post.posted|date:"d M, Y" }} <br>
    Tags: {% for tag in post.tag.all %} <a href="{{tag.getabsolute_url}}">#{{tag}}</a> {% endfor %}
    {% endfor %}
</body>

</html>